<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shop</title>
</head>
<body>
    <h2 th:if="${message}" th:text=${message}></h2><br>
    <form th:action="@{/save-product}" method="post">
        <div>
            <label> Name : <input type="text" name="name" /></label>
        </div><br>
        <div>
            <label> Description : <textarea type="description" name="description" ></textarea></label>
        </div><br>
        <div>
            <label> price: <input type="number" name="price" /></label>
        </div><br>
        <div>
            <button type="submit" value="submit" />Save</button>
        </div>
    </form>
</body>
</html>