<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>product_new Creation</title>
</head>
<body>
    <h2 th:if="${message}" th:text=${message}></h2><br>
    <form th:action="@{/save_product_new}" method="post">
        <div>
            <label> Name : <input type="text" name="name" />
            </label>
        </div><br>
        <div>
            <label> Category: <input type="text" name="category" />
            </label>
        </div><br>
        <div>
            <input type="submit" value="submit" />
        </div>
    </form>
</body>
</html>