<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store</title>
</head>
<body>
    <h2 th:if="${message}" th:text=${message}></h2><br>
    <form th:action="@{/save-product}" method="post">
        <div>
            <label> Title : <input type="text" name="title" /></label>
        </div><br>
        <div>
            <label> Author : <input type="text" name="author" ></input></label>
        </div><br>
        <div>
            <label> Price: <input type="number" name="price" /></label>
        </div><br>
        <div>
            <button type="submit" value="submit" />Save</button>
        </div>
    </form>
</body>
</html>